<section class="page-tag">
		
	<h1>låtarna</h1>
	<div>
		<div class="text-block-spacer">
			
		</div>
		<h3>1 album intro (the journey begins)</h3>

		<p>
			i am already on my way
			can I hold you without letting myself go

			2 a Denial (to forgive the flaws of others)

			fading colours in your head fading scents on your clothes, in your bed
			vivid memories that slips away
			all the battles that you've won all the things you've said and done
			belongs now to yesterday

			so close your eyes and make believe
			like it's that you can cling to
			so close your mind and you will receive
			all the treasures denial has to offer

			the hardest thing you'll ever know is the learning to let go

			so you're trying to hold to all those moments come and gone
			with every day you tighten your grip until your knuckles turn white
			your condition looks quite rough but if only your conviction's strong enoughe
			you can turn back time and make it alright, right?

			just breathe and hold it in
			isn't there something you forgot about?
			just feel I think you will begin
			to grasp the reason for your doubts

			the hardest thing you'll ever know is the learning to let go
			the hardest thing you'll ever find is the changing of your mind
			the changing of your mind

			so let it go
			just let it go

			cause I think you´ve lost your mind

			3 ballad bout a boy (to stand on my own)

			let me tell you something about life
			you already know
			it's mean and nasty place
			that will beat you to your knees
			if you let it
			if you let it

			(it's mean and nasty place that will beat you to your knees and keep you there permanently, if you let it)

			let me tell you what I thought
			first time I laid my eyes on you
			I thought this kid will be better than anyone
			anyone I ever knew and you grew up good and wonderful
			you grew up good and wonderful

			then the time came for you
			to be your own man and to take on the world
			on your own
			and you did but somewhere along the line you changed
			you stopped being you

			you let people stick a finger in your face
			and tell you you're no good
			and when things got hard you started to look for something to blame
			like a big shadow
			go on
			blame the big shadow

			(not you, me or anybody is gonna hit as hard as life)

			not you
			me
			or anybody is going to hit as hard as life
			and now it got you where it hurts
			now if you know what you're worth then go on
			and get what your worth
			but be willing to take the hits along the way

			(you got to be willing to take the hits)
			(but it's not about how hard you hit, 
			it's about how hard you can get hit and keep moving 
			how much you can take and keep moving forward)

			not you
			me
			or anybody is going to hit as hard as life
			and now it got you where it hurts
			now if you know what you're worth then go on
			and get what your worth
			but be willing to take the hits along the way

			(how much you can take and keep moving forward)

			now wouldn't it be great
			if this song where written to
			anyone else
			but me

			4 come out clean (to believe in others)

			she's earth
			she takes it all in
			her eyes are open
			she sees everything

			she's got a fragile heart
			and a sensitive soul
			her mind is open
			she feels everything

			it's not fair, she says
			why do I have to feel so much
			but the things that she hates about herself
			will turn out as things that helps her stand above it all

			life sure hurts from time to time
			and it's hard to keep believing
			that you someday will push thru
			and come out clean on the other side
			anything you want to to
			I'm sure you can do it
			although I know it's not in my place to say these things to be true.

			it's not fair, I say
			why do I have to feel so much
			but the things that I hate about myself
			will turn out as things that helps me stand above it all

			life sure hurts from time to time
			and it's hard to keep believing
			that we someday will push thru
			and come out clean on the other side
			anything we want to do 
			I know we can do it 
			although I know it's not in my place to say these things to be true

			I guess I just believe in you
			and I know that you'll push thru somehow
			and will come out clean on the other side

			5 meeting of actors (to see beauty in the unknown)

			as I come to think of it
			it puts a smile on my face
			that I was given grace
			with the worst possible timing

			but it doesn't bother me
			cause where my planned road came to an end
			I met a friend
			and that's a good thing

			and in good things, the problems that crosses my path
			are just minor circumstances that in time shall not last
			am I blessed with the privilege of feeling this
			for isn't this bliss
			then what is?

			like an opening scene
			of a beautiful play
			where the actors hasn't learned yet what to say
			trembling over the stage
			scared they won't get there line right
			gazing out
			blinded by the light
			no script to go with
			but it seems like they like it
			anyway

			I might be worried
			and sometimes even scared
			I recall loosing someone
			for whom I cared
			and wasting time with yearning 

			but I am naive
			and I'm not scared to try
			again and I think you and I
			have a good chance concerning

			the fact that we're spending so much of our time
			if not for talking
			then for thinking of and making these rhymes
			so what if I loose my head
			my senses 
			my mind
			if we only see problems then we're better of blind

			6 tills jag hittar hem (home is not a place)

			jag blundade en stund
			bara en blinkning
			en hundradels sekund
			sen var allt jag trodde var på riktigt 
			bara minnen
			var det bara jag
			som blundade en stund
			och drömde om ett liv jag ville ha
			jag kanske ville det så gärna
			och gjorde allting verkligt i mitt huvud
			när jag blundade en stund

			men min känsla är så nära
			att sanningen inte spelar någon roll
			jag vet nog
			längst inne
			jag må vara bra på att ta bilder
			men är inte lika bra på att släppa dem sen

			och jag älskar minnet
			av månens sken på en småstads tomma gator
			och jag älskar tanken
			på att vakna upp och
			morgontrött ta mig till jobbet
			på att möta mina vänner
			och att det känns som hemma

			jag minns det som igår
			hur är det möjligt att det redan gått ett år
			det var ju nyss vi var tillsammans
			visst stoppade jag tiden
			och brände mina broar
			och byggde mig ett luftslott
			där bor jag än
			med min rädsla för vad som kommer sen
			kan något nånsin leva upp till
			den tid som har passerat
			här står jag in till branten
			och undrar om det någonsin kommer gå

			och min känsla är så nära
			att sanningen inte spelar någon roll
			jag vet nog
			längst inne
			det är dags för mig att inse
			att jag måste släppa taget
			och hitta hem igen  
			   
			7 don't be scared (to comfort others, being an island)

			do not waste another second on things that you hate
			if there's anything worth to contemplate
			it can only be love
			stick to your believes if they serve you
			hold tight
			do not waver from yourself 
			what you are
			and what you want to be

			and cast aside 
			your troubled vision of what you do not wish to be
			let your light shine bright
			thru the night

			and cast aside
			whatever lies it is
			that tells you differently
			let your light shine bright

			and don't be scared
			if you drown
			or wander astray
			and if there's darkness
			be the light that shines your way
			I will always stand by
			patiently
			don't be scared
			you won't need to hold my hand
			but you can if you choose to

			so cast aside
			whatever lies it is
			that tells you differently
			let your light shine bright
			thru the night

			and face the break of day
			the angels will sing with your heart
			and chase the demons out of your head

			8 when it comes to that 

			a little smarter when it comes to that

			here's a story bout a boy and his way
			of getting thru his day
			when his head spins
			and he wonders
			and he bothers

			thinking about bits and pieces and it all looks the same
			his head hung low in shame
			 - how I struggle, oh bother
			yeah he bothers

			and somewhere lost along the way
			is that feeling he calls "being"
			in a desperate act he tries to
			follow thru but he winds up blaming it
			on the world and his girlfriend

			the boy is trying so hard that his head soon falls out of its place
			scared to loose his face
			he reduce to
			being bitter
			and self righteous

			thinking of hundredmillion reasons just to justify the state that he's in
			convinced that he can win
			his honor 
			by biting his tongue hard enoughe

			and somewhere lost along the way
			is that thing he calls "believing" 
			in a desperate act he tries to
			push it thru with tears as he's repeating
			his pleading

			I wish I was
			a little wiser when it comes to that
			I wish I was
			a little smarter when it comes to that
			I wish I was
			a little thicker skinned than I
			but I'm not
			so working my thru as I go on
			I wish I was
			a little smarter when it comes to that

			that's no way to be strong
			you're loosing your head and it's all going wrong
			you're walking thru a storm
			with open arms      

			9 so now you can h8 me (to face the consequences of staying true to myself)

			in the after hours
			of the battles rage
			in this final moment
			when it's already too late
			to make decisions
			that wasn't made before
			or to reconsider
			walking out of the door

			it's not what we had in mind
			but it is what it is
			so would you please be so kind

			to try and do this civilised
			without a song and dance
			let's just leave things where they are
			on the floor
			because we're both fed up
			and there's no coming back for more

			there's nothing you can say
			I am already on my way

			no need to be witty
			or to clear the air
			save me your self pity
			and in return you won't see me
			crying in despair 

			there's nothing you can say
			I am already on my way
			there's nothing left to say
			I am already up and gone
			I've been a fool for you
			I'm pretty sure that you've felt it to
			there's nothing you can say
			I am already on my way

			and maybe
			a few years from now
			we might see
			our fatal blows and how
			we could have been smarter
			and that we could have been okay
			but for now I'll just say
			that we won't be
			so now you can h8 me

			there's nothing you can say
			I am already on my way
			there's nothing left to say
			I am already up and gone
			I've been a fool for you
			I'm pretty sure that you've felt it to
			there's nothing you can say
			I am already on my way

			there's nothing left to say
			I am already on my way
			say what you need to say
			before I'm up and gone

			soon your number'll be off my cellphone

			10. bending patterns (to accept the task at hand)

			its not hard to understand her
			no thats the easy part
			I know
			I can spend hours thinking 
			where did she go 
			sitting across the table a hundred miles away
			so where did she go
			and then she smiles
			and I understand
			and its easy

			and as for the hard part, well
			if there is such thing
			it's still to show
			but I bet she spends hours thinking
			where did he go
			sitting across the table a hundred miles away
			so where did I go
			and then I smile
			and I bet she understands

			I would like to call you
			but I'm scared what I might say 
			am I scarred or still bleeding
			guess it's better this way
			but I'm not sure
			I think I would be grateful if you kissed me where it's sore
			can you find it cause I sure can't

			can I hold you
			without letting myself go
			can I tell you
			without letting you know
			that you're on my mind for the better part of all the time
			but I've shattered so many visions on my way (what can I say)
			I miss you
			but I'm glad you're not around

			forgive me for my words
			it's just another way of saying that I need to take it slow
			I'm bending patterns from years and years ago

			11 here it goes again (to confront myself)

			your time will come
			when a new has begun
			there's no common ground to start from
			you've been over and out
			you've been had no doubt
			and here it goes again

			changed you pace
			changed your town
			built a fence
			settled down
			had enough of life's surprises
			had enough being hurt
			taking beatings and dirt
			and enough blood on your shirt
			here it goes again
			here it goes again
			here it goes again

			what is your vision?
			and is it fear or love that will get you there?
			it's a decision
			cause either one of them can get you anywhere

			lend me a hand
			cause I can't stand how this feels
			I got so much
			that hurts and that won't heal
			I can't see why life has to be so cruel
			What is the point
			am I out am I a fool?

			you say
			things just happen in life
			and it's not up to me
			you fear the loss of losing control
			but you lost that years ago

			so maybe it's not hold on to
			but there you go again
			again over and out
			again filled with doubt
			with no path to follow
			are you lost again?
			cause here it comes again

			where is your vision
			I guess by now you've given in to fear
			bad choice of star to wish upon
			investing faith in you won't get me anywhere 

			lend you a hand
			cause I know just how it feels
			You've done enough
			yea it hurts but that will heal
			I can't see why you have to be so cruel
			to get to the point
			yea you're out and we are thru.

			12 album outro (to let go)

			can i hold you without letting myself go
			can i hold you, can i hold you
			well now I can, now I can

			and I won´t need to hold your hand

			(can I hold you 
			i still don´t know
			but i´m already on my way
			so here I go)

			13 we were immortals (a new beginning)

			we were immortals
			mesmerized by stars
			and we are perfect
			we are

			we took off into the night
			guided by streetlights

			and on that night
			we were the last humans on earth
			in the moonlight
			we were the first

			those streetlight lit up places
			we pass along the way
			those streetlight lit up places
			will last 'til break of day

			hours and hours away
			but we'll stay

			with sheba in our blood
			and angels in our heads
			we slowdance with darkness
			we celebrate the night
			guided by streetlights

			we do it our way
			this is who we are

			16. im getting there (waiting for her)

			until us my love

			if I came to place where my path divorced
			a cross in the road and I had to choose
			which way to go
			I would say
			I'm waiting for her

			if I came to a standstill and ran out of faith
			used all my credits and got lost along a dead end road
			I would stay
			cause I'm waiting for her

			until us my love

			if I came to my senses would you come along
			I admit that I might have been wrong
			if I'm constantly looking how can I expect to be found
			so I'm going to stay
			I'm waiting for her

			though I know she could be anywhere
			I'm going to wait until she's here

			I'm getting there
			as fast as I can
			you see me now,
			waiting thru the night
			leaving all my lights on for you?

			until us my love
		</p>
	<div>
</section>	